.bundle
db/*.sqlite3
log/*.log
tmp/
public/
vendor/
test/
script/
lib/
doc/
config/.bundle
config/*.yml
config/initializers/setup_mail.rb
db/*.sqlite3
log/*.log
tmp/
public/system/photos/
public/stylesheets/.sass-cache/114f3dc544cf7e60c3e15a459ae451cee0340aa6/style.scssc
