body {
  margin:0;
  padding:0;}
  
header {
  background:#666;
  padding:20px;
    span#user_email {
      position:relative;
      top:-25px;
      left:550px;
      color:#fff;
    }
}
  
#container {
  padding:20px;}

.odd {
  background: #f2f8fa;
  td {
    padding: 3px 7px; } }

.even td {
  padding: 3px 7px; }

h1 {
  font: bold 24px / 24px "century gothic", arial, sans-serif;
  color: #646a6d; }
  
h2 {
  font: bold 20px / 20px "century gothic", arial, sans-serif;
  color: #646a6d; }
  
h3 {
  font: bold 18px / 18px "century gothic", arial, sans-serif;
  color: #646a6d; }

th {
  font: bold 14px / 14px "century gothic", arial, sans-serif;
  color: #646a6d; }

td {
  font: normal 12px / 12px "century gothic", arial, sans-serif;
  color: #646a6d;
  padding: 5px 10px;
  &:hover {
    background-color: transparent; } }

a {
  font: normal 12px / 12px "century gothic", arial, sans-serif;
  color: #dddddd;
  &:hover {
    color: blue;
    background-color: transparent; } }

ul li {
  float: left;
  margin-right: 15px;
  list-style-type: none; }

.clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }
