body { margin:0; padding:0; }

header {
  background:#666;
  padding:20px;
  position:relative;
    span#user_email {
      position:relative;
      top:0px;
      right:10px;
      color:#fff;
      font:bold 18px/18px arial, sans-serif;}
    span#header_link {
      position:relative;
      top:30px;
      right:10px;
      color:#fff;}
}

.page { width:960px !important; margin:0 auto; position:relative; }
  
#container {
  padding:20px;}

.odd {
  background: #f2f8fa;
  td {
    padding: 3px 7px; } }

.even td {
  padding: 3px 7px; }

h1 {
  font: bold 24px / 24px arial, sans-serif;
  color:#242424; }
  
h2 {
  font: bold 20px / 20px arial, sans-serif;
  color:#242424; }
  
h3 {
  font: bold 18px / 18px arial, sans-serif;
  color:#242424; }

th {
  font: bold 14px / 14px arial, sans-serif;
  color:#242424; }

td {
  font: normal 12px / 12px arial, sans-serif;
  color:#242424;
  padding: 5px 10px;
  &:hover {
    background-color: transparent; } }

a {
  font: normal 12px / 12px arial, sans-serif;
  color: #dddddd;
  &:hover {
    color: blue;
    background-color: transparent; } }

ul li {
  float: left;
  margin-right: 15px;
  list-style-type: none; }

.clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }
  
body#sessions {
  background: #efefef;
form {
  background-color:#fff;
  display:block;
  width:250px;
  margin:0 auto;
  position:relative;
  padding:20px;
  box-shadow: 0 0 3px #ccc, inset 0 0 8px #e6e6e6;
  border:1px solid #fff;
  color:#464646;
  border-radius:5px;
  z-index:1;
  h2 {
    text-align:center;
    width: 225px;
    color:#242424;
    font-family: arial; }
  a {
    font-family: arial;
    text-decoration: none;
    color:#a6a5a4; }
  a:hover {
    color:#6d96c8; }
  p {
    position: relative; }
  input[type=email], input[type=password] {
    border:1px solid #fff;
    box-shadow: 0 0 3px #999, inset 0 0 3px #ddd;
    padding: 5px;
    width:225px;
    line-height:19px;
    outline:none; }
    &:focus {
      box-shadow: 0 0 3px #464646, inset 0 0 3px #b6b6b6; }
 #user_submit {
    border:1px solid #fff;
    border-radius: 3px;
    background:#a3b5cb; 
    padding:7px 15px;
    color:#fff;
    text-shadow:0px 1px 2px #95a8d2;
    box-shadow:0 0 3px #aaa, inset 0 0 3px #4b6789; }
} 
  p.alert {
    width: 250px;
    background: #f1f2bf;
    border:1px solid #c44444;
    border-radius: 5px;
    color:#c44444;
    margin: 0 auto;
    padding: 20px; }
    
  p.alert:before {
    content: " ";
    background: url('http://dl.dropbox.com/u/15389047/stop.png');
    width:16px;
    height:16px;
    display:inline-block;
    margin-right: 5px;
    vertical-align: bottom; }
}

span.login:before {
  content: '';
  display:block;
  height:5px;
  width:100px;
  position:absolute;
  z-index:-1;
  bottom:5px;
  left:10px;
  box-shadow:-10px 5px 10px #888;
  -webkit-transform: translate(0px,-7px) skew(0deg,23deg) rotate(-25deg);
  -moz-transform: translate(-7px,-3px) skew(0deg,23deg) rotate(-25deg);
 }
 
 span.login:after {
  content: '';
  display:block;
  height:5px;
  width:100px;
  position:absolute;
  z-index:-1;
  bottom:5px;
  left:10px;
  box-shadow:-10px 5px 10px #888;
  -webkit-transform: translate(-7px,-5px) skew(0deg,23deg) rotate(-25deg);
  -moz-transform: translate(-7px,-3px) skew(0deg,23deg) rotate(-25deg);
 }
 
input[type=text], textarea {
  border:1px solid #fff;
    box-shadow: 0 0 3px #999, inset 0 0 3px #ddd;
    padding: 5px;
    width:225px;
    line-height:19px;
    outline:none; 
    &:focus {
      box-shadow: 0 0 3px #464646, inset 0 0 3px #b6b6b6; }
}

input[type=submit] {
  border:1px solid #fff;
  border-radius: 3px;
  background:#a3b5cb; 
  padding:7px 15px;
  color:#fff;
  text-shadow:0px 1px 2px #95a8d2;
  cursor:pointer;
  box-shadow:0 0 3px #aaa, inset 0 0 3px #4b6789;
  margin:10px 10px 10px 0; }
  
textarea {height:150px;}
label {display: block; margin-bottom:5px;}
select {border:1px solid #b6b6b6;width:225px;height:28px;}
