<h3>Discussions</h3>
<table>
<% @discussions.each do |discussion| %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%= discussion.title %></td>
    <td><%= discussion.comment %></td>
  </tr>
<% end %>
</table>
