%header
  %section.page
    = image_tag("logo.png")
    %span#user_email
      Hello, #{current_user.email}
    %span#header_link= link_to "Manage Projects", projects_manage_url
    %span#header_link= link_to "Manage Users", users_path